<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

    {% seo %}
    <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
</head>

<body>

<header>
    <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
            <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
    </div>
</header>

<div class="container">
    <section id="linkedin">
        <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="large" data-theme="dark" data-type="HORIZONTAL" data-vanity="adrian-besleaga" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://de.linkedin.com/in/adrian-besleaga?trk=profile-badge">Adrian Besleaga</a></div>
    </section>
    <section id="main_content">
        {{ content }}
    </section>
</div>
</body>
</html>